<?xml version="1.0"?>

<robot>

   <gazebo>
      <plugin name="ackermansteer" filename="libackermansteer.so">
         <debug>false</debug>
         <commandTopic>cmd_vel</commandTopic>
         <odometryTopic>odom</odometryTopic>
         <robotBaseFrame>base_footprint</robotBaseFrame>
         <publishWheelTF>false</publishWheelTF>
         <publishOdomTF>true</publishOdomTF>
         <wheelDiameter>0.36</wheelDiameter>
         <wheelAcceleration>0.0</wheelAcceleration>
         <wheelTorque>50.0</wheelTorque>
         <updateRate>50.0</updateRate>

         <!-- Wheel Placement -->
         <wheelbase>1.429</wheelbase>
         <wheelSeparation>0.932</wheelSeparation>
         
         <!-- Wheel Joints -->
         <RR_driveJoint>wheel_right_driving_joint</RR_driveJoint>
         <RL_driveJoint>wheel_left_driving_joint</RL_driveJoint>

         <FL_steerJoint>wheel_left_steering_joint</FL_steerJoint>
         <FR_steerJoint>wheel_right_steering_joint</FR_steerJoint>

         <!--PID settings - - - - - - - - - - - - - - - - - - - -
              p      -    proportional gain
              i      -    intergral gain
              d      -    derivative gain
              imax   -    anti windup max
              imin   -    anti windup min
         - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

         <!-- Wheel Velocity PID settings -->
         <drive_p>500.0</drive_p>
         <drive_i>0.0</drive_i>
         <drive_d>0.0</drive_d>
         <drive_imax>1.0</drive_imax>
         <drive_imin>-1.0</drive_imin>
         <drive_max_effort>200.0</drive_max_effort>

         <!-- Steering PID settings -->
         <steer_p>100.0</steer_p>
         <steer_i>0.0</steer_i>
         <steer_d>1.0</steer_d>
         <steer_imax>5.0</steer_imax>
         <steer_imin>-5.0</steer_imin>
         <steer_max_effort>600.0</steer_max_effort>
         <steer_init_angle>0.0</steer_init_angle>

      </plugin>
    </gazebo>


</robot>

